In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import itertools
import numpy as np
from sklearn import linear_model

In [15]:
df=pd.read_csv(r'D:\Student_data.csv')
df.head()

   Hours Studied  Grade on Exam
0              2             69
1              9             98
2              5             82
3              5             77
4              3             71

In [12]:
df.plot(kind='scatter' x='Hours Studied' y='Grade on Exam',c="blue")

SyntaxError: invalid syntax (<ipython-input-12-f4c5321231ba>, line 1)