In [63]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import itertools
import math
import numpy as np
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from scipy.spatial import distance_matrix

In [28]:
df1=pd.read_csv(r'C:\Users\mca\Documents\210970049-ML\WEEK4\DataSet1.csv')
df1.head()

   Temp  Sales
0    65     20
1    68     22
2    66     21
3    75     23
4    81     25

In [29]:
df2=pd.read_csv(r'C:\Users\mca\Documents\210970049-ML\WEEK4\DataSet2.csv')
df2.head()

   Temp  Sales
0    90     29
1    82     28
2    80     26
3    76     26
4    74     24

In [40]:
x1=list(df1['Temp'])
print(x1)

[65, 68, 66, 75, 81, 76, 78, 85, 88, 95]

In [39]:
y1=list(df1['Sales'])
print(y1)

[20, 22, 21, 23, 25, 26, 28, 30, 30, 35]

In [38]:
x2=list(df2['Temp'])
print(x2)

[90, 82, 80, 76, 74, 73, 73, 77, 68, 60]

In [37]:
y2=list(df2['Sales'])
print(y2)

[29, 28, 26, 26, 24, 24, 20, 18, 19, 20]

In [46]:
lists1=[]
for i in range(0,10):
    distance=math.sqrt(((x2[i]-x1[i])**2)+((y2[i]-y1[i])**2) )
    lists1.append(distance)
print(lists1)

[26.570660511172846, 15.231546211727817, 14.866068747318506, 3.1622776601683795, 7.0710678118654755, 3.605551275463989, 9.433981132056603, 14.422205101855956, 22.825424421026653, 38.07886552931954]

In [60]:
from array import array
matrices=array("f",lists1)
print(matrices)

array('f', [26.570659637451172, 15.231546401977539, 14.866068840026855, 3.1622776985168457, 7.071067810058594, 3.605551242828369, 9.433980941772461, 14.422204971313477, 22.825424194335938, 38.07886505126953])

In [59]:
matrix=matrices.reshape(10,10)
print(matrix)

AttributeError: 'array.array' object has no attribute 'reshape'

In [65]:
pd.DataFrame(distance_matrix(df1.values,df2.values),index=df1.index,columns=df2.index)

,0,1,2,3,4,5,6,7,8,9
0,26.570661,18.788294,16.155494,12.529964,9.848858,8.944272,8.000000,12.165525,3.162278,5.000000
1,23.086793,15.231546,12.649111,8.944272,6.324555,5.385165,5.385165,9.848858,3.000000,8.246211
2,25.298221,17.464249,14.866069,11.180340,8.544004,7.615773,7.071068,11.401754,2.828427,6.082763
3,16.155494,8.602325,5.830952,3.162278,1.414214,2.236068,3.605551,5.385165,8.062258,15.297059
4,9.848858,3.162278,1.414214,5.099020,7.071068,8.062258,9.433981,8.062258,14.317821,21.587033
5,14.317821,6.324555,4.000000,0.000000,2.828427,3.605551,6.708204,8.062258,10.630146,17.088007
6,12.041595,4.000000,2.828427,2.828427,5.656854,6.403124,9.433981,10.049876,13.453624,19.697716
7,5.099020,3.605551,6.403124,9.848858,12.529964,13.416408,15.620499,14.422205,20.248457,26.925824
8,2.236068,6.324555,8.944272,12.649111,15.231546,16.155494,18.027756,16.278821,22.825424,29.732137
9,7.810250,14.764823,17.492856,21.023796,23.706539,24.596748,26.627054,24.758837,31.384710,38.078866